<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
<link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link href="/assets/lib/datatables/datatables.min.css" rel="stylesheet">
<link href="/assets/lib/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="{{ "/assets/css/style.css" | relative_url }}" rel="stylesheet">


<!-- Top JS -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/lib/datatables/datatables.min.js"></script>
<script src="/assets/lib/lightbox/js/lightbox.js"></script>

<link href="{{ "/assets/css/reset.css" | relative_url }}" rel="stylesheet">