<!-- Footer Start -->
<div class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Address</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>First Floor, H - 192, H Block, Sector 63, Noida, Uttar Pradesh 201301 </p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0120-4291-595</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@maxvoltenergy.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light btn-social" href="https://twitter.com/EnergyMaxvolt" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light btn-social" href="https://www.facebook.com/Maxvoltbattery/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light btn-social" href="https://www.instagram.com/visitmaxvoltenergy/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square btn-outline-light btn-social" href="https://www.pinterest.com/maxvoltenergy1/" target="_blank"><i class="fab fa-pinterest"></i></a>
                    <a class="btn btn-square btn-outline-light btn-social" href="https://www.linkedin.com/company/maxvoltbattery/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link" href="/about-us/">About Us</a>
                <a class="btn btn-link" href="/contact/">Contact Us</a>
                <a class="btn btn-link" href="/products/">Products</a>
                <a class="btn btn-link" href="/terms/">Terms & Condition</a>
                <a class="btn btn-link" href="/about-us/our-catalog/">Our Catalog</a>
                <a class="btn btn-link" href="/career/">Career with MaxVolt</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Solutions</h5>
                <a class="btn btn-link" href="/solutions/electric-vehicle/">Electrical Vehicle</a>
                <a class="btn btn-link" href="/solutions/portable-lighting/">Portable Lighting</a>
                <a class="btn btn-link" href="/solutions/solar-energy-storage/">Solar Energy Storage</a>
                <a class="btn btn-link" href="/solutions/consumer-electronics/">Consumer Electronics</a>

            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Newsletter</h5>
                <p>Subscribe newsletter to get instant updates.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    © 2018 - {{ site.time | date: '%Y' }} {{site.title}}, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://brandforce360.com//" target="_blank">Brand Gaming 360</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
