<div class="container my-5">
		<h3 class="py-3">Corporate Gallery</h3>
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="d-flex">
						<img class="d-block w-50 pr-2" src="https://www.maxvoltenergy.com/assets/uploads/1_thumb.jpg"
							alt="First slide">
						<img class="d-block w-50" src="https://www.maxvoltenergy.com/assets/uploads/dsc_0464_thumb.jpg"
							alt="First slide">
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex">
							<img class="d-block w-50 pr-2" src="https://www.maxvoltenergy.com/assets/uploads/dsc_0506_thumb.jpg" alt="First slide">
						<img class="d-block w-50" src="https://www.maxvoltenergy.com/assets/uploads/dsc_0521_thump.jpg" alt="First slide">
					</div>
				</div>
				<div class="carousel-item">
					<div class="d-flex">
						<img class="d-block w-50 pr-2"
							src="https://www.maxvoltenergy.com/assets/uploads/dsc_0530_thumb.jpg" alt="Second slide">
						<img class="d-block w-50" src="https://www.maxvoltenergy.com/assets/uploads/pvt_thumb.jpg"
							alt="Second slide">
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex">
							<img class="d-block w-50 pr-2" src="https://www.maxvoltenergy.com/assets/uploads/1_thumb.jpg" alt="Second slide">
						<img class="d-block w-50" src="https://www.maxvoltenergy.com/assets/uploads/dsc_0464_thumb.jpg" alt="Second slide">
					</div>
				</div>
				<div class="carousel-item">
					<div class="d-flex">
						<img class="d-block w-50 pr-2"
							src="https://www.maxvoltenergy.com/assets/uploads/dsc_0506_thumb.jpg" alt="Third slide">
						<img class="d-block w-50" src="https://www.maxvoltenergy.com/assets/uploads/dsc_0521_thump.jpg"
							alt="Third slide">
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex">
						<img class="d-block w-50 pr-2" src="https://www.maxvoltenergy.com/assets/uploads/dsc_0530_thumb.jpg" alt="Third slide">
					<img class="d-block w-50" src="https://www.maxvoltenergy.com/assets/uploads/pvt_thumb.jpg" alt="Third slide">
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
