
<div class="owl-carousel owl-theme">

   <div class="item">{% for gallery in site.gallery limit: 3 %}
      <a data-fancybox="gallery" href="{{gallery.thumb}}" data-caption="{{gallery.title}}"><img class="imgsize" src="{{gallery.image}}" alt="{{gallery.title}}"></a>
   {% endfor %}
   </div>
   <div class="item">
   {% for gallery in site.gallery limit: 3 offset: continue %}
      <a data-fancybox="gallery" href="{{gallery.thumb}}" data-caption="{{gallery.title}}"><img class="imgsize" src="{{gallery.image}}" alt="{{gallery.title}}"></a>
   {% endfor %}
   </div>


</div>



<style>.owl-carousel .item {
   height: 25rem;
   background: #fff;
   text-align: center;
}

.owl-carousel .item h4{
   height: 10rem;
   background: #4DC7A0;
   margin: 1rem;
}</style>