
<div class="owl-carousel owl-theme">
   {% for gallery in site.gallery limit: 6 %}
   <div class="item">
      <a data-fancybox="gallery" href="{{gallery.image}}" data-caption="{{gallery.title}}"><img class="imgsize" src="{{gallery.thumb}}" alt="{{gallery.title}}"></a>

   </div>
   {% endfor %}
   {% assign i = 0 %}

   {% for gallery in site.gallery %}
   {% assign i = i | plus:1 %}
   {% if i > 6 %}
   <div class="item">
      <a data-fancybox="gallery" href="{{gallery.image}}" data-caption="{{gallery.title}}"><img class="imgsize" src="{{gallery.thumb}}" alt="{{gallery.title}}"></a>
{% endif% }
   </div>
   {% endfor %}
</div>


<div class="posts">
   {% for post in site.posts %}
   {% assign remainder = forloop.index | modulo: 2 %}
   {% if forloop.first == true %}
   <div class="row">
      <article class="twelve columns"></article>
   </div>
   {% elsif remainder == 0 %}
   <div class="row">
      <article class="six columns"></article>
      {% if forloop.last %}
   </div>
   {% endif %}
   {% else %}
   <article class="six columns"></article>
</div>
{% endif %}
{% endfor %}
</div>

<style>.owl-carousel .item {
   height: 25rem;
   background: #fff;
   text-align: center;
}

.owl-carousel .item h4{
   height: 10rem;
   background: #4DC7A0;
   margin: 1rem;
}</style>