	<section class="wrapper bg-light">
			<div class="container py-14 py-md-16">
				<div class="row gx-lg-8 gx-xl-12">
					<div class="col-lg-8">
						<div class="blog classic-view">
						{% for post in paginator.posts %}
							<article class="post">
								<div class="card">
								{% if post.image %}
									<figure class="card-img-top overlay overlay1 hover-scale"><a href="{{post.url}}"><img src="{{ post.image | relative_url }}" alt="{{post.title}}" /></a>
										<figcaption>
											<h5 class="from-top mb-0">Read More</h5>
										</figcaption>
									</figure>
									{% endif %}
									<div class="card-body">
										<div class="post-header">
											<div class="post-category text-line">
												<a href="#" class="hover" rel="category">Teamwork</a>
											</div>
											<!-- /.post-category -->
											<h2 class="post-title mt-1 mb-0"><a class="link-dark" href="{{post.url}}">{{post.title}}</a></h2>
										</div>
										<!-- /.post-header -->
										<div class="post-content">
											{{post.excerpt | strip_html | truncatewords: "25"}}
										</div>
										<!-- /.post-content -->
									</div>
									<!--/.card-body -->
									<div class="card-footer">
										<ul class="post-meta d-flex mb-0">
											<li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ post.date | date: "%e %b, 20%y" }}</span></li>
											<li class="post-author">{% assign author = site.author | where: 'name', post.author |
  first %} {% if author %}
  By <a href="{{ author.url }}"><i class="uil uil-user"></i><span>{{ author.display_name }}</span></a>{% endif %}</li>
											{% capture words %}
      {{ post.content | number_of_words | minus: 180 }}
   {% endcapture %}
   {% unless words contains "-" %}
     {% assign minutes = words | plus: 180 | divided_by: 180 %}
	 
	 {% if minutes %}
	 <li class="post-comments ms-auto"><a href="#">
											<i class="uil uil-book"></i>
        {{ minutes }}
     {% if minutes == 1 %}
        {{ " minute read" }}
     {% else %}
        {{ " minutes read" }}
     {% endif %}
	</a></li>
	 {% endif %}
	 
   {% endunless %}
										</ul>
										<!-- /.post-meta -->
									</div>
									<!-- /.card-footer -->
								</div>
								<!-- /.card -->
							</article>
						{% endfor %} 
						</div>

						{% include paginator.html %}

					</div>

					{% include sidebar.html %}

				</div>

			</div>

		</section>