<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">OUR PRODUCTS</h6>
            <h1 class="mb-4">Our Products Come Up With High Performing Ability And Reliability.</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/E-Auto Battery.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-3x"></i>
                        </div>
                        <h4 class="mb-3">E-AUTO LITHIUM BATTERY</h4>
                        <p></p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/Battery-pic-for-48v100ah.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-wind fa-2x"></i>
                        </div>
                        <h4 class="mb-3">
                            E-RICKSHAW LITHIUM BATTERY</h4>
                        <p></p>
                        <a class="small fw-medium" href="https://www.maxvoltenergy.com/products/e-rickshaw-lithium-battery/">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/Battery-pic-for-72v.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-2x"></i>
                        </div>
                        <h4 class="mb-3">E-SCOOTER LITHIUM BATTERY</h4>
                        <p></p>
                        <a class="small fw-medium" href="https://www.maxvoltenergy.com/products/e-scooter-bike-lithium-battery/">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/Ecycle-battery.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-2x"></i>
                        </div>
                        <h4 class="mb-3">E-CYCLE LITHIUM BATTERY</h4>
                        <p></p>
                        <a class="small fw-medium" href="https://www.maxvoltenergy.com/products/e-cycle-lithium-battery/">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/Ecart-Battery.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-wind fa-2x"></i>
                        </div>
                        <h4 class="mb-3">E-CART LITHIUM BATTERY</h4>
                        <p></p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/Inverter-battery.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-2x"></i>
                        </div>
                        <h4 class="mb-3">INVERTER LITHIUM BATTERIES</h4>
                        <p></p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/24v90ah.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-2x"></i>
                        </div>
                        <h4 class="mb-3">ENERGY STORAGE SOLUTION</h4>
                        <p></p>
                        <a class="small fw-medium" href="https://www.maxvoltenergy.com/products/lithium-battery-energy-storage-solutions/">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/Street Light.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-wind fa-2x"></i>
                        </div>
                        <h4 class="mb-3">LITHIUM BATTERY FOR SOLAR APPLICATION </h4>
                        <p></p>
                        <a class="small fw-medium" href="https://www.maxvoltenergy.com/products/lithium-battery-for-solar-application/">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="/assets/img/product/solar custom battery.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-2x"></i>
                        </div>
                        <h4 class="mb-3">CUSTOMIZED BATTERY SOLUTION</h4>
                        <p></p>
                        <a class="small fw-medium" href="https://www.maxvoltenergy.com/products/customized-battery-solution/">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->
