.top-logo{
   width: 70px;
}
.center-address {
    max-height: 750px;
    overflow-y: scroll;
}

.title-h4 {
    padding-bottom: 15px;
}
#center-table_wrapper > div:first{
padding-bottom: 20px;
}
button.btn.btn-lg.btn-primary {
    display: none;
}