<meta charset="utf-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="canonical" href="{{ site.url }}{{ page.url | remove: "index.html" }}">
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: "index.html" }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="{{ site.title }}">

{% if page.c_title %}
<title>{{ page.c_title }}</title>
<meta property="og:title" content="{{ page.c_title }}">
{% else %}
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">

{% elsif page.layout == "post" %}
<meta name="description" content="{{ page.content | strip_html | truncatewords: 30, "" }}">
<meta property="og:description" content="{{ page.content | strip_html | truncatewords: 30, "" }}">
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if page.author %}
<meta name="author" content="{{ page.author.name }}">
{% elsif page.layout == "post" and site.author.name %}
<meta name="author" content="{{ site.author.name }}">
{% endif %}

{% if page.index == false %}
<meta name="robots" content="noindex">
{% endif %}

{% if site.g_track_id %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.g_track_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.g_track_id }}');
</script>
{% endif %}

{% if page.splash_img_source %}
<meta property="og:image" content="{{ site.url }}{{ page.splash_img_source }}">
{% endif %}

{% if site.author.twitter %}
<meta name="twitter:site" content="@{{ site.author.twitter }}">
{% endif %}

{% if page.index %}
<title> Best Lithium Ion Battery Manufacturers | Lithium Ion Battery Manufacturers in India | Maxvoltenergy </title>
<meta name="description" content=" Maxvolt is India's best lithium ion battery manufacturer. We offer a wide selection of rechargeable batteries. We are the manufacturer of lithium ion battery in india, which are suitable for inverters and solar applications. "/>
<meta name="keywords" content="maxvoltenergy, lithium, lithium battery, lithium ion battery, lithium batteries, lithium ion batteries, lithium ion battery manufacturers, lithium battery manufacturers in india, manufacturers of lithium battery, best lithium battery manufacturers, lithium ion battery manufacturers in india, manufacturers of lithium ion battery "/>
<Meta name="copyright" content="Maxvoltenergy"/>
<meta name="author" content="Maxvoltenergy"/>
<meta name="email" content="info@maxvoltenergy.com"/>
<meta name="Distribution" content="Lithium Ion Battery Manufacturers"/>
<meta name="page-topic" content="Manufacturers of Lithium Ion Battery"/>
<meta name="Rating" content="General"/>
<meta name="Robots" content="INDEX, FOLLOW"/>
<meta name="Revisit-after" content="2 Days"/>
<link rel="canonical" href="https://www.maxvoltenergy.com/"/>
<meta name="site" content="Lithium Ion Battery Manufacturers in India"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-236779358-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-236779358-1');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5LBTC5G9E9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-5LBTC5G9E9');
</script>
<meta name="google-site-verification" content="2azluDNAP6oNvs2wk2i9vvHiA7JBwbXiXsanAMGPy8I" />
<meta name="msvalidate.01" content="46D43B3A175D63999E9B3A740BD17FB2" />
