---
layout: page
title: Customer Service
subtitle:
description:
permalink: /support/customer-service/
currentpage: support
sitemap:
priority: 0.9
---
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Customer Service</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-white" href="#">Customer Support Number 9560718827</a></li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->


<div class="container-xxl py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h4 class="title-h4">Our service centers</h4>
        {% for service in site.service %}
        <address>
          <strong>{{service.title}}</strong><br>
          {{service.address}}<br>
          <abbr title="Phone">P:</abbr> {{service.phone}}
        </address>

        {% endfor %}

      </div>
      <div class="col-md-8">
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyCR1YpJIFWHU18W-UUGnhuhOPpopxe_DDI"
                type="text/javascript"></script>
        <div id="map" style="width: 100%; height: 600px"></div>
        <script type="text/javascript">
          var locations = [
            {% for service in site.service %}
            ['{{service.address}}', {{service.latitude}}, {{service.longitude}}, 4],
          {% endfor %}
          ];

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: new google.maps.LatLng(20.5937, 78.9629),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          });

          var infowindow = new google.maps.InfoWindow();

          var marker, i;

          for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(locations[i][1], locations[i][2]),
              map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
              }
            })(marker, i));
          }
        </script>
      </div>
    </div>
  </div>
</div>


