---
layout: page
---
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Favicon -->
  <link href="/assets/img/favicon.png" rel="icon">

  {% include meta_tags/base.html %}

  {% include css.html %}
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner End -->


{% include header.html %}


{{content}}

{% include footer.html %}

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

{% include js.html %}
</body>

</html>



